.screen {
  display: none;
}

.screen.active {
  display: flex;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background: #020617;
  border: 1px solid #334155;
}

.btn-primary {
  width: 100%;
  background: #22c55e;
  padding: 8px;
  border-radius: 4px;
}

.btn-danger {
  background: #ef4444;
  padding: 6px 10px;
  border-radius: 4px;
}
